.input-v{
    border: none;
    background: none;
    text-align: right;
}
::ng-deep .ant-menu-title-content {
    width: 100%;
  }

  ::ng-deep .ant-menu-title-content {
    width: 100%;
  }
  ::ng-deep .ant-select-item-option-disabled {
    color: black;
  }