.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.ant-table-content{
    overflow: scroll !important;
    height: calc(100vh - 206px) !important;
}
.p-m{
    margin-top: 12px;
}
.input-v{
    border: none;
    background: none;
    text-align: right;
}

.btn-excel{
    background-color: #008B45;
    border-color: #008B45;
}