<div class="container-list" [appPermission]="MASTER_DATA_MANAGEMENT.RETAIL_PRICE_MANAGEMENT">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Giá bán lẻ" nzSubtitle="Danh sách giá bán lẻ" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button>
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <!-- <button
            (click)="exportExcel()"
            class="!flex !items-center"
            nz-button
            nzType="primary"
            [appPermission]="LOCAL_RIGHTS.EXCEL"
            nzDanger
          >
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('goodsCode', $event)">
            Mặt hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('oldPrice', $event)">
            Giá cũ
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('newPrice', $event)">
            Giá mới
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let gbl of data.gbl; let i = index">
          <tr (dblclick)="openEdit(data)">

            <td>
              {{ (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1 }}
            </td>

            <td>
              <span *ngFor="let item of goodsResult">
                <a *ngIf="item.code == gbl.goodsCode" (click)="openEdit(data)">{{ item.name }}</a>
              </span>

            <td class="align-right">{{ gbl.oldPrice }}</td>
            <td class="align-right">{{ gbl.newPrice }}</td>
            <td nzAlign="center">
              <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
                nzTheme="outline"></span>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!-- Create Update

<nz-drawer nzWidth="40%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Mặt hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn vùng" formControlName="goodsCode">
            <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Vùng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn vùng" formControlName="localCode">
            <nz-option cdkScrollable *ngFor="let item of localResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <div nz-col style=" display: flex;">
        <nz-form-item style="padding-right: 16px;">
          <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label>
          <nz-form-control nzErrorTip="Không đươc để trống">
            <nz-date-picker nzWidth="100%" formControlName="fromDate" ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
          <nz-form-control nzErrorTip="Không đươc để trống">
            <nz-date-picker nzWidth="100%"  formControlName="toDate"
              nzPlaceHolder="Chọn ngày bắt đầu"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <app-input-clear placeholder="Giá cũ" [required]="true" label="Giá cũ"
        [control]="$any(validateForm).controls['oldPrice']"></app-input-clear>

      <app-input-clear placeholder="Giá mới" [required]="true" label="Giá mới"
        [control]="$any(validateForm).controls['newPrice']"></app-input-clear>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem  nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template> -->
<nz-drawer nzWidth="40%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <div>

      <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="12">
          <nz-divider nzText="Từ Ngày" nzOrientation="left"></nz-divider>
          <nz-form-item style="padding-right: 16px;">
            <!-- <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label> -->
            <nz-form-control nzErrorTip="Không đươc để trống">
              <nz-date-picker nzShowTime nzFormat="HH:mm dd-MM-yyyy "
                [(ngModel)]="model.gbllHeader.fDate" [disabled]="true"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="12">
          <nz-divider nzText="Đến Ngày" nzOrientation="left"></nz-divider>
          <nz-form-item style="padding-right: 16px;">
            <!-- <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label> -->
            <nz-form-control nzErrorTip="Không đươc để trống">
              <nz-date-picker nzShowTime nzFormat="HH:mm dd-MM-yyyy " (ngModelChange)=checkDate()
                [(ngModel)]="model.gbllHeader.toDate" [disabled]="model.gbllHeader.isActive != null"></nz-date-picker>
              <div style="color: red" *ngIf="isDateValid">Ngày kết thúc phải lớn hơn ngày tạo</div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
    <nz-divider nzText="Giá bán lẻ" nzOrientation="left"></nz-divider>

    <nz-table #TableInput [nzData]="model.gbl" nzSize="small">
      <thead>
        <tr>
          <th [nzAlign]="'center'">Mặt hàng</th>
          <th [nzAlign]="'center'">Giá cũ</th>
          <th [nzAlign]="'center'">Giá mới</th>
          <th [nzAlign]="'center'">Mức tăng so vơi vùng 1</th>

        </tr>
      </thead>
      <tbody>
        @for (data of TableInput.data; track data) {
        <tr>
          <td style="width: 20%">
            <nz-select nzShowSearch nzAllowClear placeholder="Mặt hàng" [(ngModel)]="data.goodsCode" [nzDisabled]="true"
              style="width: 100%">
              <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.name" [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </td>
          <td>
            <input [disabled]="true" class="input-v" nz-input [(ngModel)]="data.oldPrice" type="number" />
          </td>
          <td>
            <input [disabled]="model.gbllHeader.isActive != null" class="input-v" nz-input [(ngModel)]="data.newPrice"
              type="number" />
          </td>
          <td>
            <input [disabled]="model.gbllHeader.isActive != null" class="input-v" nz-input [(ngModel)]="data.mucTangV1"
              type="number" />
          </td>
        </tr>
        }
      </tbody>
    </nz-table>

    <!-- </div> -->

    <!-- <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item> -->
    <!-- </form> -->
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
